body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-image: url('../src/assets/bg/macos-big-sur-stock-sedimentary-rocks-evening-starry-sky-6016x6016-3781.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

.full-height {
  height: 70dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-section {
  width: 100%;
  height: 70dvh;
}

.intro-text {
  text-align: center;
}

@keyframes shine {
  0% {
    color: #e0e0e0;
    text-shadow: 
      1px 1px 5px rgba(0, 0, 0, 0.1), 
      0 0 25px rgba(255, 255, 255, 0.3), 
      0 0 50px rgba(255, 255, 255, 0.5);
  }
  50% {
    color: #ffffff;
    text-shadow: 
      1px 1px 10px rgba(0, 0, 0, 0.1), 
      0 0 35px rgba(255, 255, 255, 0.6), 
      0 0 70px rgba(255, 255, 255, 0.7);
  }
  100% {
    color: #e0e0e0;
    text-shadow: 
      1px 1px 5px rgba(0, 0, 0, 0.1), 
      0 0 25px rgba(255, 255, 255, 0.212), 
      0 0 50px rgba(255, 255, 255, 0.5);
  }
}

.intro-text h1 {
  font-size: 4rem;
  color: #e0e0e0;
  font-weight: bold;
  margin-bottom: 7px;
  font-family: 'Poppins', sans-serif;
  animation: shine 2s infinite;
}

.intro-text h5 {
  margin-top: 10px;
  font-size: 1.3rem;
  color: #e0e0e0;
  margin-bottom: 7px;
  font-family: 'Roboto', sans-serif;
  animation: shine 2s infinite;
}

.keyword-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.keyword-input input[type="text"] {
  flex: 1;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  color: #333;
  transition: all 0.3s ease;
}

.keyword-input input[type="text"]:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.5);
}

.keyword-input input[type="text"]::placeholder {
  color: rgba(51, 51, 51, 0.8);
  font-style: italic;
}

.keyword-input button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(45deg, #007bff, #00c6ff);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.keyword-input button:hover {
  background: linear-gradient(45deg, #00c6ff, #007bff);
  box-shadow: 0 0 20px rgba(0, 198, 255, 0.5), 0 0 40px rgba(0, 123, 255, 0.5);
}

.keyword-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.keyword-item {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.keyword-item:hover {
  transform: scale(1.05);
}

.remove-btn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.remove-btn:hover {
  color: #b4b4b4;
}

.news-item {
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.news-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
}

.news-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: #ffffff;
  z-index: 1;
}

.news-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
}

.news-content p {
  font-size: 1rem;
  color: #f0f0f0;
}

ul {
  list-style: none;
  padding: 0;
}

.news a {
  text-decoration: none;
}

.copyright {
  text-align: center;
  font-size: 1rem;
  color: #f0f0f0;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}

.copyright a {
  color: #2bacbd;
  text-decoration: none;
  font-weight: bold;
}

.copyright a:hover {
  text-decoration: underline;
}
